In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("finalpool.csv");

In [3]:
df.head()

  Sensed Species  Rate Constant         L         n        SP    C   R^2
0             FC            k23   .287472 -0.681373   11.4286  0.0   1.0
1            CIA            k23   .286639 -0.095253   91.9550  0.0   1.0
2             F3            k23   .286638 -0.008114  549.4710  0.0   1.0
3             F2            kO2   101.012 -1.684860   29.8892  0.0   1.0
4             FS            kO2   103.526 -0.012946  264.7000  0.0   1.0

In [4]:
df

,Sensed Species,Rate Constant,L,n,SP,C,R^2
0,FC,k23,.287472,-0.681373,11.428600,0.000000,1.0000
1,CIA,k23,.286639,-0.095253,91.955000,0.000000,1.0000
2,F3,k23,.286638,-0.008114,549.471000,0.000000,1.0000
3,F2,kO2,101.012,-1.684860,29.889200,0.000000,1.0000
4,FS,kO2,103.526,-0.012946,264.700000,0.000000,1.0000
5,O2,kO2,107.554,9.251680,1.129300,18.455900,1.0000
6,O2,kcia,4.23162,6.828190,0.851123,0.408848,1.0000
7,F2,kcia,1.53318,-1.011600,30.000000,0.000000,1.0000
8,FS,kcia,1.83043,-0.007157,320.786000,0.000000,1.0000
9,O2,kcyt,1.97599,1.913600,1.067800,2.770530,1.0000
10,F2,kcyt,3.82253,-1.991710,28.513800,0.000000,1.0000
11,FS,kcyt,3.82542,-0.015423,84.057100,0.000000,1.0000
12,F2,kmit,3.6911*10^12,2.659600,18.754300,0.487841,0.9978
13,FS,kmit,94.7028,0.031848,57.815300,0.624923,1.0000
14,O2,kmit,5.90358,-0.788394,3.706480,0.000000,1.0000
15,FC,kvac,79.5534,-0.262821,31.360700,0.000000,1.0000
16,CIA,kvac,4.06664,-0.036018,153.367000,0.000000,1.0000
17,F3,kvac,3.82494,-0.003076,1246.640000,0.000000,1.0000